.git
.gitignore
.github
node_modules
npm-debug.log
README.md
.DS_Store
coverage.html
coverage.out
*.db
*.sqlite
test-results.xml
sonar-scanner-*
.sonarcache
bw-output
build/
dist/
.vscode
.idea
*.swp
*.swo
*~
